.navbar {
    display: flex;
    justify-content: space-between;
    margin-left: 10em;
    margin-right: 10em;
    margin-top: 2em;
    font-family: 'Exo 2', sans-serif;
}

.nav-link {
    color: rgb(218, 235, 186);
    font-size: 2em;
    text-decoration: none;
}

.nav-link:hover {
    color: rgb(250, 202, 210);
}